<h1>Jogo da Velha - Genhin Impact</h1>

<div class="jogo">
    <div class="quadrado1" (click) = "jogar1()">
        <img [src] = "imagem1">
    </div>
    <div class="quadrado2" (click) = "jogar2()">
        <img [src] = "imagem2">
    </div>
    <div class="quadrado3" (click) = "jogar3()">
        <img [src] = "imagem3">
    </div>
    <div class="quadrado4" (click) = "jogar4()">
        <img [src] = "imagem4">
    </div>
    <div class="quadrado5" (click) = "jogar5()">
        <img [src] = "imagem5">
    </div>
    <div class="quadrado6" (click) = "jogar6()">
        <img [src] = "imagem6">
    </div>
    <div class="quadrado7" (click) = "jogar7()">
        <img [src] = "imagem7">
    </div>
    <div class="quadrado8" (click) = "jogar8()">
        <img [src] = "imagem8">
    </div>
    <div class="quadrado9" (click) = "jogar9()">
        <img [src] = "imagem9">
    </div>
    <h1>{{mensagem}}</h1>
</div>